<?xml version="1.0" ?>
<boinc>
    <config>

        <!-- names and folders -->
        <app_dir>/root/project/apps</app_dir>
        <download_dir>/root/project/download</download_dir>
        <download_url>http://ProjectStreet.dynu.com/ProjectStreet/download</download_url>
        <host>ProjectStreet</host>
        <key_dir>/root/project/keys/</key_dir>
        <log_dir>/root/project/log_ProjectStreet</log_dir>
        <long_name>ProjectStreet</long_name>
        <master_url>http://ProjectStreet.dynu.com/ProjectStreet/</master_url>
        <shmem_key>0x1111b0fd</shmem_key>
        <upload_dir>/root/project/upload</upload_dir>
        <upload_url>http://ProjectStreet.dynu.com/ProjectStreet_cgi/file_upload_handler</upload_url>

        <!-- database -->
        <db_host>mysql</db_host>
        <db_name>ProjectStreet</db_name>
        <db_passwd></db_passwd>
        <db_user>root</db_user>

        <!-- recaptcha -->
        <recaptcha_private_key/>
        <recaptcha_public_key/>
        
        <!-- various other options -->
        <cache_md5_info>1</cache_md5_info>
        <daily_result_quota>500</daily_result_quota>
        <dont_generate_upload_certificates>1</dont_generate_upload_certificates>
        <ignore_upload_certificates>1</ignore_upload_certificates>
        <max_wus_in_progress>5</max_wus_in_progress>
        <max_wus_to_send>50</max_wus_to_send>
        <min_sendwork_interval>6</min_sendwork_interval>
        <send_result_abort>1</send_result_abort>
        <show_results>1</show_results>
        <uldl_dir_fanout>1024</uldl_dir_fanout>

        <!-- debug flags -->
        <fuh_debug_level>2</fuh_debug_level>
        <sched_debug_level>3</sched_debug_level>
        <debug_send/>
        <debug_version_select/>

    </config>

    <tasks>
        <task>
            <cmd>antique_file_deleter -d 2</cmd>
            <period>24 hours</period>
            <output>antique_file_deleter.out</output>
        </task>
        <task>
            <cmd>db_dump -d 2 --dump_spec ../db_dump_spec.xml</cmd>
            <period>24 hours</period>
            <output>db_dump.out</output>
        </task>
        <task>
            <cmd>run_in_ops update_uotd.php</cmd>
            <period>1 days</period>
            <output>update_uotd.out</output>
        </task>
        <task>
            <cmd>run_in_ops update_forum_activities.php</cmd>
            <period>1 hour</period>
            <output>update_forum_activities.out</output>
        </task>
        <task>
            <cmd>update_stats</cmd>
            <period>1 days</period>
            <output>update_stats.out</output>
        </task>
        <task>
            <cmd>run_in_ops update_profile_pages.php</cmd>
            <period>24 hours</period>
            <output>update_profile_pages.out</output>
        </task>
        <task>
            <cmd>run_in_ops team_import.php</cmd>
            <period>24 hours</period>
            <disabled>1</disabled>
            <output>team_import.out</output>
        </task>
        <task>
            <cmd>run_in_ops notify.php</cmd>
            <period>24 hours</period>
            <output>notify.out</output>
        </task>
        <task>
            <cmd>run_in_ops badge_assign.php</cmd>
            <period>24 hours</period>
            <output>badge_assign.out</output>
        </task>
    </tasks>
    <daemons>
        <daemon>
            <cmd>feeder -d 3 --allapps --priority_order_create_time</cmd>
        </daemon>
        <daemon>
            <cmd>transitioner -d 3 </cmd>
        </daemon>
        <daemon>
            <cmd>file_deleter -d 3 </cmd>
        </daemon>
    </daemons>
</boinc>
